<ng-content></ng-content>

<div class="main_component div-flex">
    <mat-card class="div-flex">
        <mat-card-title>
            <p class="cim"><mat-card-title>Kapcsolat</mat-card-title></p>
        </mat-card-title>

        <mat-card-content>
            <p><mat-icon>map</mat-icon>Cím</p>
            <p class="adat">Debrecen, Petőfi tér 10, 4025</p>
            <p><mat-icon>call</mat-icon> Telefon</p>
            <p class="adat">+36 30 123 4567</p>
            <p><mat-icon>email</mat-icon> Email</p>
            <p class="adat">bowling@gmail.com</p>
        </mat-card-content>
    </mat-card>
</div>